CONF_THRESH=0.45
IOU_THRESH=0.45
INPUT_IMAGE=testimage.jpg
OUTPUT_IMAGE=result.jpg
MODEL_PATH=model/yolov8n-640x384-rk3576.rknn
TARGET_CLASSES=person,car,motorcycle,bicycle,bus,truck
LOOPS=100
WARMUP=5
DURATION=30
